<!DOCTYPE html>
<html ng-app="pager">
  <head>
    <meta charset="utf-8" />
    <title>Sports Pagerank</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.16/angular.js" data-semver="1.2.16"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="TeamController">

    <h2>Sports Pagerank</h2>

    <p>This utility runs a &quot;pagerank&quot; algorithm on sports
    teams.  Input all the game scores and see where your team ranks.</p>

    <p>Since pagerank has to do with pages linking to other pages, we
    view teams scoring against other teams as the losing team having a
    link to the winning team.  If this makes no sense, google
    &quot;Google pagerank algorithms&quot;.  There are good explanations out there.</p>

    <p>Enter scores here: Team1, Team2, Score1, Score2</p>

    <textarea name="scores" ng-model="scoreData" id="" cols="30" rows="10" 
              ng-init="scoreData='Page A,Page B,0,1
Page A,Page C,1,1
Page B,Page C,0,1
Page D,Page C,0,1
'">
    </textarea>

    <table>
      <tr>
        <th>Team</th>
        <th>Pagerank</th>
      </tr>

      <tr ng-repeat="i in prList">
        <td>{{i.team}}</td>
        <td id="r">{{i.pagerank}}</td>
      </tr>
    </table>

  </body>

</html>